@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap");

body {
  background-color: #353d52;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
  padding: 0 0;
}

.top img {
  width: 20%;
  padding-top: 1em;
}

.top ul {
  display: none;
}

.info {
  padding-top: 30%;
  padding-bottom: 30%;
}

.info h1 {
  font-size: 8vw;
  padding: 0 5%;
}

.info h3 {
  font-size: 4vw;
  padding: 0 15%;
}

.social {
  display: none;
}

/* .whoami {
  padding-top: 30%;
} */

.whoami h1 {
  text-align: left;
  font-size: 6vw;
  padding: 0 5%;
}

.whoami p {
  text-align: left;
  font-size: 3.5vw;
  line-height: 7vw;
  padding: 5% 5% 0;
}

.whoami img {
  width: 90%;
  padding-top: 5%;
}

.portfolio-jobs {
  padding-top: 30%;
}

.portfolio-jobs h1 {
  text-align: left;
  font-size: 6vw;
  padding: 0 5%;
}

.portfolio-jobs img {
  width: 100%;
  padding-top: 5%;
}

.portfolio-jobs p {
  font-size: 3.5vw;
  line-height: 7vw;
  margin-top: -3em;
}

.contact {
  padding-top: 24%;
}

.contact h1 {
  text-align: left;
  font-size: 6vw;
  padding: 5% 5%;
}

.contact h4 {
  font-size: 3vw;
  line-height: 7vw;
  padding: 0 5%;
}

.contact input {
  display: block;
  width: 87%;
  margin-left: 5%;
  padding: 1% 1%;
  margin-top: 1%;
  border: none;
}

.contact .message {
  padding-bottom: 25%;
}

.contact .submit {
  width: 25%;
  margin-left: 69%;
  background-color: #353d52;
  color: white;
  border: 2.5px solid white;
  cursor: pointer;
}

.contact-social {
  padding-top: 20%;
}

.contact-social img {
  width: 8%;
}

.contact-social a {
  margin-left: 3%;
}

.portfolio {
  padding-top: 30%;
}

.portfolio h1 {
  text-align: left;
  padding: 0 5%;
  font-size: 6vw;
}

.portfolio img {
  padding-top: 7%;
  width: 85%;
  margin-bottom: -2rem;
}

.portfolio p {
  font-size: 4vw;
}

@media only screen and (min-width: 1024px) {
  .top {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: flex;
    padding-top: 0;
    background-color: #353d52;
    width: 100%;
    height: 10%;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .top .logo {
    width: 100%;
    margin-right: 50%;
  }

  .top ul {
    padding: 2% 0em;
    display: flex;
    list-style-type: none;
    margin-bottom: 10%;
    margin-left: -5%;
  }

  nav ul li a {
    color: white;
    text-align: right;
    margin: 0em 2em;
    padding-top: 5em;
    text-decoration: none;
    font-weight: medium;
    font-size: 1.1vw;
  }

  .info {
    padding-top: 50%;
    padding-bottom: 5%;
  }

  .info h1 {
    font-size: 4vw;
    margin-top: -7em;
  }

  .info h3 {
    font-size: 2vw;
    padding: 0 1%;
  }

  .whoami {
    padding-top: 1%;
    padding-bottom: 30%;
  }

  .whoami h1 {
    font-size: 1.5vw;
    padding: 0 0;
  }

  .whoami p {
    font-size: 1.1vw;
    line-height: 2vw;
    padding: 0 0;
  }

  .whoami img {
    width: 85%;
    padding-top: 35%;
  }

  .whoami .text {
    float: left;
    padding-left: 8%;
    margin-right: 15%;
    padding-top: 21%;
  }

  .whoami .iage {
    float: left;
  }

  .portfolio {
  }

  .portfolio h1 {
    display: none;
  }

  .portfolio img {
    width: 35%;
  }

  .portfolio p {
    font-size: 1.8vw;
  }

  .contact {
    margin-bottom: -10.5rem;
  }

  .contact h1 {
    display: none;
  }

  .contact h4 {
    text-align: center;
    font-size: 1.2vw;
    margin-bottom: -1rem;
  }

  .contact .msg {
    text-align: center;
  }

  .contact input {
    display: block;
    width: 40%;
    margin-left: 29%;
    padding: 0.5% 1%;
    margin-top: 0.5%;
    border: none;
  }

  .contact .message {
    padding-bottom: 10%;
  }

  .contact .submit {
    width: 7%;
    height: 1rem;
    margin-left: 64%;
    background-color: #353d52;
    color: white;
    border: 2.5px solid white;
    cursor: pointer;
    font-size: 0.8rem;
    padding-bottom: 1.2%;
    font-weight: bold;
  }

  .contact-social {
    text-align: right;

    padding-right: 4%;
  }
  .contact-social img {
    width: 3%;
    margin-left: -0.4rem;
  }
}
